<!-- View 1 -->
 
<div style="text-align: center;">

    <webcam [height]="500" [width]="500"
            [trigger]="triggerObservable"
            (imageCapture)="handleImage($event)"
            [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            [imageType]="image/png"
            (initError)="handleInitError($event)"
    ></webcam>

    <p>
    <label for="aspectRatio">Aspect:</label> &nbsp; 
    <input id="aspectRatio" name="aspectRatio" type="radio" value="16_9" checked><label for="aspectRatio_16_9">16:9</label> &nbsp; 
    <input id="aspectRatio" name="aspectRatio" type="radio" value="4_3"><label for="aspectRatio_4_3">4:3</label> &nbsp; 
    <input id="aspectRatio" name="aspectRatio" type="radio" value="3_2"><label for="aspectRatio_3_2">3:2</label> &nbsp; 
    <input id="aspectRatio" name="aspectRatio" type="radio" value="1_1"><label for="aspectRatio_1_1">1:1</label>

    <p>
    <button (click)="triggerSnapshot();">Snap</button>

</div>