<!-- View 2 -->


<!-- <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button> -->

<!-- <div style="text-align: center; column-width: 100%;"> -->

    <form [formGroup]="picForm" (ngSubmit)="submit()">

        <div style="text-align: center;">
            <img src="test.jpg">
            <img [src]="processedPic" />
        </div>

        <div>
            <label for="title">Title</label><br />
            <input style="width: 100%;" type="text" formControlName="title">
        </div>

        <div>
            <label for="comments">Comments</label><br />
            <textarea style="width: 100%;" rows="5" formControlName="comments"></textarea>
        </div>

        <div style="float: left;">
            <button type="button" [routerLink]="['/']">Back</button>
        </div>
        <div style="float: right;">
            <button type="submit" [routerLink]="['/upload']" [disabled]="picForm.invalid">Post</button>
        </div>

    </form>

<!-- </div> -->